{% extends 'base.html' %}

{% block content %}
<style>
        .container{width: 1000px; height: 500px; padding: 15%; position: fixed;}
       #ridge {border-style: ridge;width: 270px;}
       a{text-decoration: none;color: dimgrey;font-family: fantasy;}
       button{color: green;}
       h3{font-family: cursive;}
       :root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(109, 69, 69, 0.8);
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }
  
   
  .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}
  

 
        
    </style>
 
        <div class="wrapper">
                <!-- Navigation -->
                <nav class="main-nav">
                  <ul>
                    <li>
                      <a href="login">login</a>
                    </li>
                    <li>
                      <a href='/createquestion'>CreatQuiz</a>
                    </li>
                  </ul>
                </nav>

<center> 
    <div class="container"> 
        <div id="ridge">
            <form action="/auth/register" method="post" >
            <h3>welcome to resgister form</h3>
            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="password">Password</label>
            <input type="password" name="password"><br><br>
            <button class="btn success">Sign up</button>
            <a href="/">back to home</a> <br><br>
            </form>
        </div>

    </div>
</center>

{% endblock %}